{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Awesome Movies !</h1>
    {% for movie in moviesList %}
        <p>{{ movie.title }}</p>
    {% endfor %}
{% endblock %}