{% extends 'base.html.twig' %}

{% block title %}Reserve{% endblock %}

{% block body %}
    <div class="page-title-container">
        <h2>Reserve a session</h2>
    </div>
    <div class="form-container">
        {{ form_start(reservationForm) }}
            {{ form_row(reservationForm.session) }}
            <button class="button">Book it !</button>
        {{ form_end(reservationForm) }}
    </div>
{% endblock %}
