{% extends 'base.html.twig' %}

{% block title %}Your reservations{% endblock %}

{% block body %}
    <div class="page-title-container">
        <h2>Your reservations</h2>
    </div>
    <ul class="reservations-container">
        {% for reservation in reservationsList %}
            <li class="reservation-block">
                <span class="reservation">{{ reservation.session }}</span>
                <a class="button" href="{{ path('deleteReservation', {'id': reservation.id}) }}">Cancel</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
