{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Mes reservations</h1>
    {% for reservation in reservationsList %}
        <p>{{ reservation.id }}</p>
{#            <a class="btn" href="{{ path('deleteReservation', {'id': reservation.id}) }}">Supprimer</a>#}
    {% endfor %}
{% endblock %}
