{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Mes reservations</h1>
    {% for reservation in reservationsList %}
        <p>{{ reservation.session }}</p>
            <a class="btn" href="{{ path('deleteReservation', {'id': reservation.id}) }}">Annuler</a>
    {% endfor %}
{% endblock %}
