{% extends 'base.html.twig' %}

{% block title %}Your reservation summary{% endblock %}

{% block body %}
    <div class="page-title-container">
        <h2>Your reservation summary</h2>
    </div>
    <div class="reservations-container">
        <div class="reservation-block">
            <span class="reservation">{{ reservation.session }}</span>
            <a class="button" href="{{ path('home') }}">Back to home</a>
        </div>
    </div>
{% endblock %}
