<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Awesome Movies!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Roboto:300,400,700" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="header-container">
            <div class="header-text">
                <h1 class="header-title">Awesome Movies!</h1>
                <strong class="header-baseline">The best place to find the best movies</strong>
            </div>
            <span class="header-cover"></span>
        </div>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
